*{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
input{
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  padding: 5px;
  margin-left: 44px;
}
h1{
  margin-bottom: 15px;
}
.calculator{
  box-shadow: -3px 3px 8px 0px rgb(192, 89, 183), 3px -3px 8px 0px rgb(77, 120, 238);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 250px;
  text-align: center;
}
button{
  background-color: rgb(75, 72, 72);
  color:  white;
 width: 40px;
 height: 40px;
 margin-right: 13px;
 margin-top: 10px;
 margin-bottom: 20px;
 cursor: pointer;
}
P{
  margin-bottom: 5px;
}